.main-admin {
    margin: 2rem 2rem 3rem 6rem;
}

.h1-admin {
    font-size: 28px;
}

.h2-admin {
    font-size: 13px;
}

.h3-admin {
    font-size: 13px;
    margin: 5px;
}

.admin-logout-button {
    position: absolute;
    top: 30px;
    right: 112px;
}

.admin-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    gap: 5px;
    padding-bottom: 3rem;
}

.list-item-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    border: solid black 1px;
    border-radius: 10px;
    background: white;
}

.image-container-admin {
    display: flex;
    align-items: center
}

.image-container-admin img {
    width: 50%;
    height: 5rem;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 10px;
}

.admin-users {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    gap: 1rem;
    padding-bottom: 3rem;
}

.user-list {
    padding: 3px;
    border-left: solid black 1px;
    border-radius: 0 10px 10px 0;
    background: #3535352b;
}
