.main-product-detail {
    margin: 3rem 16rem 3rem 16rem;
  }
  
.back {
  font-size: 15px;
}

.h1-product-detail {
  font-size: 28px;
  margin-bottom: 5px;
}

.h2-product-detail {
  font-size: 16px;
}

.detailed-section {
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(89, 89, 92);
}

.detailed-image {
  height: 26rem;
  max-width: 55%;
  margin: 3rem;
  object-fit: contain;
}

.description {
  padding: 2rem 2rem 0 0 ;
}